
{%  extends "base.html" %}
{%  block main %}
<h1 class="page-header">Dashboard</h1>

<div class="row">
    <span>Games Identities Added: {{ identity_list | length }}</span>
</div>

<h2 class="sub-header">Games</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Game</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
    {% for identity in identity_list %}
      <tr>
        <td>{{ identity.game }}</td>
        <td>{{ identity.username }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
