{%  extends "base.html" %}
{%  block main %}
  <h1>Recent Activity</h1>
  <ul class="list-group container-fluid">
    <li class="list-group-item row">
      <div class="col-md-1">
        <img class="img-circle" src="http://placehold.it/50x50">
      </div>
      <div class="col-md-9">
        <p>GenjiNeedsHealing has joined The Gamer Collective.</p>
        <hr />
        <p>Posted by: <a href="#">GenjiNeedsHealing</a> | 17 Feb. 2017 | <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span> <span class="badge">42</span></a> | <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden=true></span> <span>Report</span></a></p>
      </div>
      <div class="col-md-2">
      </div>
    </li>
    <li class="list-group-item row list-group-item-success">
      <div class="col-md-1">
        <img class="img-circle" src="http://placehold.it/50x50">
      </div>
      <div class="col-md-9">
        <h4><a href="#">We're making a new game!</a></h4>
        <p>This is promoted content. This could be an ad network or a paid sponser.<p>
          <hr />
        <p>Posted by: <span class="glyphicon glyphicon-usd" aria-hidden=true><a href="#"></span>a_corporate_shil</a> | 17 Feb. 2017 | <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span> <span class="badge">42</span></a> | <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden=true></span> <span>Report</span></a></p>
      <div class="col-md-2">
      </div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-1">
        <img class="img-circle" src="http://placehold.it/50x50">
      </div>
      <div class="col-md-9">
        <p>Don't sleep on this game either apparently. I had no idea this game was going to be as good as the earlier reviews are saying.</p>
        <p>Possible GOTY with this one. Only problem is being just exclusive to the PS4.</p>
        <hr />
        <p>Posted by: <a href="#">stolen_from_JP</a> | 17 Feb. 2017 | <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span> <span class="badge">42</span></a> | <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden=true></span> <span>Report</span></a></p>
      </div>
      <div class="col-md-2">
      </div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-1">
        <img class="img-circle" src="http://placehold.it/50x50">
      </div>
      <div class="col-md-9">
        <p>SomeDude42 has added a new identity.</p>
        <p><a href="#">View SomeDude42's identities</a></p>
        <hr />
        <p>Posted by: <a href="#">SomeDude42</a> | 17 Feb. 2017 | <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span> <span class="badge">42</span></a> | <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden=true></span> <span>Report</span></a></p>
      </div>
      <div class="col-md-2">
      </div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-1">
        <img class="img-circle" src="http://placehold.it/50x50">
      </div>
      <div class="col-md-9">
        <h4>This is a User Post</h4>
        <p>
          Posts like this would be written by a user. Users can write longer
          posts with titles. Maybe images and other embedded content. This
          would not be part of an MVP type application.
        </p>
        <p>Don't want these to get to long so...<a href="#">Read more</a>
        <hr />
        <p>Posted by: <a href="#">leeeeroy_jenkins</a> | 17 Feb. 2017 | <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span> <span class="badge">42</span></a> | <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden=true></span> <span>Report</span></a></p>
      </div>
      <div class="col-md-2">
      </div>
    </li>
    <li class="list-group-item row">
      <div class="col-md-1">
        <img class="img-circle" src="http://placehold.it/50x50">
      </div>
      <div class="col-md-9">
        <h4>nerf_operatives has started streaming on Twitch</h4>
        <p>
          Checkout out their channel <a href="#">here</a>
        </p>
        <hr />
        <p>Posted by: <a href="#">nerf_operatives</a> | 17 Feb. 2017 | <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span> <span class="badge">42</span></a> | <a href="#"><span class="glyphicon glyphicon-flag" aria-hidden=true></span> <span>Report</span></a></p>
      </div>
      <div class="col-md-2">
      </div>
    </li>
  </ul>

{%  endblock %}
